.content
{
    margin:0 auto;
    width: 80%;
    text-align: center;
}

.grille
{
    display: grid;
    justify-content: center;
}

.mur
{
    background-image: url('../img/mur.gif');
    z-index: 1;
}

.sol
{
    background-image: url('../img/sol.gif');
    z-index: 1;
}

.bonbon
{
    background-image: url('../img/bonbon.gif');
    z-index: 1;
}

#pacman
{
 /*   background-image: url('../img/pacman4.gif');*/
    z-index: 30;
}
#pacmanImg
{
 /*   background-image: url('../img/pacman4.gif');*/
    position:absolute;
    margin-left: -20px;

    z-index: 50;
}

.score
{
    width:100%;
    display: flex;
    flex:1;
    justify-content:space-around;
	height:30px;
	margin:10 auto;
}

.fantome
{
    z-index: 70;
}
.fantomeImg
{
 /*   background-image: url('../img/pacman4.gif');*/
    position:absolute;
    margin-left: -20px;

    z-index: 100;
}